@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/*****************************************************************************************************/
/* PROJECT STYLES */

/*****************************************************************************************************/
/* GLOBAL STYLES */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.navigation-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  z-index: 10;
}

.navigation-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  z-index: 10;
}

.mobile-nav-container {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
  z-index: 20;
}

.mobile-nav-item {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  z-index: 20;
}

.display-1 {
  @apply text-9xl;
}

.display-2 {
  @apply text-8xl;
}

.display-3 {
  @apply text-7xl;
}

.display-4 {
  @apply text-6xl;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}
